body{
  font-family: "Montserrat";
}

.container-fluid{
  padding: 3% 15% 7%;
}

h3{
  font-family: "Montserrat";
  font-weight: bold;
}

h2{
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3rem;
   line-height: 1.5;
}

p{
  color: #8f8f8f;
}

/* Title image */
.iphoneImage{
  transform: rotate(25deg);
  width: 60%;
  position: absolute;
  right: 30%;
}

.title {
  background-color: #ff4c68;
  color: white;
}

.welcomeNote{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  color: white;
}

/* Navigation Bar */

.navbar{
  padding: 0 0 4.5rem;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat";
}

/* Download buttons */

.download-button{
  margin: 5% 3% 5% 0;
}

/* Features section */
.features{
  padding: 7% 15%;
  background-color: white;
  position: relative;
  z-index: 1;
  /* top: -150px; */
}

.feature-box{
  text-align: center;
  padding: 0 5%;
}

.feature-icons{
  color: #ef8172;
  margin-bottom: 4%;
}

.feature-icons:hover{
  color: #ff4c68;
}

/* Testimonials section */
.testimonials{
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.press{
  text-align: center;
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-image{
  width: 15%;
  margin: 20px 20px 50px;
}


/* Pricing */

.pricing{
  padding: 100px;
  text-align: center;
}

.pricing-column{
  padding: 3% 2%;
}

@media (max-width: 1028px){
  .iphoneImage{
    transform: rotate(0deg);
    /* width: 60%; */
    position: static;
    /* right: 30%; */
  }
  .title{
    text-align: center;
  }
}

/* Footer */

.cta{
  padding: 5% 30%;
  background-color: #ff4c68;
  color: white;
  text-align: center;
  line-height: 100px;
}

.footer{
  text-align: center;
  padding-top: 5%;
}

.twitter-icon{
  margin: 0 1%;
  color: #000;
}
.twitter-icon:hover{
  color: #1DA1F2;
}

.facebook-icon{
  margin: 0 1%;
  color: #000;
}
.facebook-icon:hover{
  color: #395498;
}

.instagram-icon{
  margin: 0 1%;
  color: #000;
}
.instagram-icon:hover{
  color: #882DA3;
}

.envelope-icon{
  margin: 0 1%;
  color: #000;
}

.envelope-icon:hover{
  color: #f5bf42;
}
